span {
    position: absolute;
    top: 180px;
    border-style: solid;
    color: red;
    border-radius: 25px;
    background-color: yellow;
    padding: 5px;
    cursor: pointer;
}

#status {
    color: red;
    font-size: x-large;
}