#base {
    position: absolute;
    border: none;
    visibility: hidden;
}

form {
    position: absolute;
    z-index: 200;
}

body {
    height: 100%;
    margin: 30px;
}

video {
    display: none;
    position: absolute;
    z-index: 100;
}