header {
    font-family: sans-serif;
    font-size: 20px;
    display: block;
}

video {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
}

audio {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
}

canvas {
    position: relative;
    top: 60px;
}

#answer {
    position: relative;
    font-family: "Times New Roman";
    font-size: 16px;
}